In [1]:
import keyring
import pandas as pd
import snowflake.connector
import matplotlib.pyplot as plt



snowflakePW = keyring.get_password("snowflake", "mlawes")

conn = snowflake.connector.connect(
    account = "PCNZXXA-WJB27787",
    user = "mlawes",
    password=snowflakePW,
    warehouse='COMPUTE_WH',
    database='SYNTHEA',
    schema='_ANALYTICS'
)

df_org = pd.read_sql("SELECT * FROM SUMMART_ORGANIZATIONS", conn)

/var/folders/m5/20q8xzqd27dg1l43fn0q_lwr0000gn/T/ipykernel_8017/423555693.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_org = pd.read_sql("SELECT * FROM SUMMART_ORGANIZATIONS", conn)

In [4]:
df_org.sort_values('NUM_PAT', ascending=False).head()

,ORG_NAME,ORG_REVENUE,YEAR,NUM_PAT,NUM_ENC,TOTAL_COSTS
1420,HALLMARK HEALTH SYSTEM,561587.35,2014,25,87,7155356.24
2755,HALLMARK HEALTH SYSTEM,561587.35,2018,22,78,1173509.99
4055,HALLMARK HEALTH SYSTEM,561587.35,2019,21,67,2758989.95
720,CAMBRIDGE HEALTH ALLIANCE,406053.19,2014,19,69,6608851.54
4105,HALLMARK HEALTH SYSTEM,561587.35,2013,18,64,5099270.53